# SPDX-FileCopyrightText: 2025 Industrial Info Resources, Inc.
# SPDX-FileContributor: William P. Marshall
#
# SPDX-License-Identifier: GPL-3.0-or-later

---
- name: Manage Apt-repo Repositories
  when: step['repo_type'] | lower == 'apt-repo'
  community.general.apt_repo:
    repo: "{{ step['name'] }}"
    state: "{{ step['state'] | default(omit) }}"
    # Module-specific parameters.
    remove_others: "{{ step['remove_others'] | default(omit) }}"
    update: "{{ step['update'] | default(omit) }}"
