# SPDX-FileCopyrightText: 2025 Industrial Info Resources, Inc.
# SPDX-FileContributor: William P. Marshall
#
# SPDX-License-Identifier: GPL-3.0-or-later

---
- name: Manage APT Repository
  when: step['repo_type'] | lower == 'apt'
  ansible.builtin.apt_repository:
    codename: "{{ step['codename'] | default(omit) }}"
    filename: "{{ step['filename'] | default(omit) }}"
    install_python_apt: "{{ step['install_python_apt'] | default(omit) }}"
    mode: "{{ step['mode'] | default(omit) }}"
    repo: "{{ step['name'] }}"
    state: "{{ step['state'] | default(omit) }}"
    update_cache: "{{ step['update_cache'] | default(omit) }}"
    update_cache_retries: "{{ step['update_cache_retries'] | default(omit) }}"
    update_cache_retry_max_delay: "{{ step['update_cache_retry_max_delay'] | default(omit) }}"
    validate_certs: "{{ step['validate_certs'] | default(omit) }}"
