# SPDX-FileCopyrightText: 2025 Industrial Info Resources, Inc. <https://www.industrialinfo.com>
# SPDX-FileContributor: William P. Marshall
#
# SPDX-License-Identifier: GPL-3.0-or-later

---
- name: Manage Copr Repository
  when: step['repo_type'] | lower == 'copr'
  community.general.copr:
    name: "{{ step['name'] }}"
    state: "{{ step['state'] | default(omit) }}"
    # Module-specific Parameters
    chroot: "{{ step['chroot'] | default(omit) }}"
    excludepkgs: "{{ step['excludepkgs'] | default([]) }}"
    host: "{{ step['host'] | default(omit) }}"
    includepkgs: "{{ step['includepkgs'] | default([]) }}"
    protocol: "{{ step['protocol'] | default(omit) }}"
