# SPDX-FileCopyrightText: 2025 Industrial Info Resources, Inc. <https://www.industrialinfo.com>
# SPDX-FileContributor: William P. Marshall
#
# SPDX-License-Identifier: GPL-3.0-or-later

---
- name: Manage Dnf Repository Config
  when: step['repo_type'] | lower == 'dnf-config'
  community.general.dnf_config_manager:
    name: "{{ step['name'] }}"
    state: "{{ step['state'] | default(omit) }}"
