# SPDX-FileCopyrightText: 2025 Industrial Info Resources, Inc.
# SPDX-FileContributor: William P. Marshall
#
# SPDX-License-Identifier: GPL-3.0-or-later

---
- name: Manage Homebrew Repository
  when: step['repo_type'] | lower == 'homebrew'
  community.general.homebrew_tap:
    name: "{{ step['name'] }}"
    state: "{{ step['state'] | default(omit) }}"
    # Module-specific Parameters
    path: "{{ step['path'] | default(omit) }}"
    url: "{{ step['url'] | default(omit) }}"
