# SPDX-FileCopyrightText: 2025 Industrial Info Resources, Inc.
# SPDX-FileContributor: William P. Marshall
#
# SPDX-License-Identifier: GPL-3.0-or-later

---
- name: Manage Pkg5 Repository
  when: step['repo_type'] | lower == 'pkg5'
  community.general.pkg5_publisher:
    name: "{{ step['name'] }}"
    state: "{{ step['state'] | default(omit) }}"
    # Module-specific Parameters
    enabled: "{{ step['enabled'] | default(omit) }}"
    mirror: "{{ step['mirror'] | default(omit) }}"
    origin: "{{ step['origin'] | default(omit) }}"
    sticky: "{{ step['sticky'] | default(omit) }}"
