# SPDX-FileCopyrightText: 2025 Industrial Info Resources, Inc. <https://www.industrialinfo.com>
# SPDX-FileContributor: William P. Marshall
#
# SPDX-License-Identifier: GPL-3.0-or-later

---
# Requires community.general 7.3.0+
# Non-grimoire related parameters excluded.
- name: Manage Sorcery Grimoire
  when: step['repo_type'] | lower == 'sorcery'
  community.general.sorcery:
    name: "{{ step['name'] }}"
    state: "{{ step['state'] | default(omit) }}"
    # Module-specific Parameters
    cache_valid_time: "{{ step['cache_valid_time'] | default() }}"
    repository: "{{ step['repository'] | default('*') }}"
    update: "{{ step['update'] | default(omit) }}"
    update_cache: "{{ step['update_cache'] | default(omit) }}"
