# SPDX-FileCopyrightText: 2025 Industrial Info Resources, Inc.
# SPDX-FileContributor: William P. Marshall
#
# SPDX-License-Identifier: GPL-3.0-or-later

---
- name: Manage YUM Repository
  when: step['repo_type'] | lower == 'yum'
  ansible.builtin.yum_repository:
    name: "{{ step['name'] }}"
    state: "{{ step['state'] | default(omit) }}"
    # Module-specific Parameters
    async: "{{ step['async'] | default(omit) }}"
    attributes: "{{ step['attributes'] | default(omit) }}"
    bandwidth: "{{ step['bandwidth'] | default(omit) }}"
    baseurl: "{{ step['baseurl'] | default(omit) }}"
    cost: "{{ step['cost'] | default(omit) }}"
    deltarpm_metadata_percentage: "{{ step['deltarpm_metadata_percentage'] | default(omit) }}"
    deltarpm_percentage: "{{ step['deltarpm_percentage'] | default(omit) }}"
    description: "{{ step['description'] | default(omit) }}"
    enabled: "{{ step['enabled'] | default(omit) }}"
    enablegroups: "{{ step['enablegroups'] | default(omit) }}"
    exclude: "{{ step['exclude'] | default(omit) }}"
    failovermethod: "{{ step['failovermethod'] | default(omit) }}"
    file: "{{ step['file'] | default(omit) }}"
    gpgcakey: "{{ step['gpgcakey'] | default(omit) }}"
    gpgcheck: "{{ step['gpgcheck'] | default(omit) }}"
    gpgkey: "{{ step['gpgkey'] | default(omit) }}"
    group: "{{ step['group'] | default(omit) }}"
    http_caching: "{{ step['http_caching'] | default(omit) }}"
    include: "{{ step['include'] | default(omit) }}"
    includepkgs: "{{ step['includepkgs'] | default(omit) }}"
    ip_resolve: "{{ step['ip_resolve'] | default(omit) }}"
    keepalive: "{{ step['keepalive'] | default(omit) }}"
    keepcache: "{{ step['keepcache'] | default(omit) }}"
    metadata_expire: "{{ step['metadata_expire'] | default(omit) }}"
    metadata_expire_filter: "{{ step['metadata_expire_filter'] | default(omit) }}"
    metalink: "{{ step['metalink'] | default(omit) }}"
    mirrorlist: "{{ step['mirrorlist'] | default(omit) }}"
    mirrorlist_expire: "{{ step['mirrorlist_expire'] | default(omit) }}"
    mode: "{{ step['mode'] | default(omit) }}"
    module_hotfixes: "{{ step['module_hotfixes'] | default(omit) }}"
    owner: "{{ step['owner'] | default(omit) }}"
    password: "{{ step['password'] | default(omit) }}"
    priority: "{{ step['priority'] | default(omit) }}"
    protect: "{{ step['protect'] | default(omit) }}"
    proxy: "{{ step['proxy'] | default(omit) }}"
    proxy_password: "{{ step['proxy_password'] | default(omit) }}"
    proxy_username: "{{ step['proxy_username'] | default(omit) }}"
    repo_gpgcheck: "{{ step['repo_gpgcheck'] | default(omit) }}"
    reposdir: "{{ step['reposdir'] | default(omit) }}"
    retries: "{{ step['retries'] | default(omit) }}"
    s3_enabled: "{{ step['s3_enabled'] | default(omit) }}"
    selevel: "{{ step['selevel'] | default(omit) }}"
    serole: "{{ step['serole'] | default(omit) }}"
    setype: "{{ step['setype'] | default(omit) }}"
    seuser: "{{ step['seuser'] | default(omit) }}"
    skip_if_unavailable: "{{ step['skip_if_unavailable'] | default(omit) }}"
    ssl_check_cert_permissions: "{{ step['ssl_check_cert_permissions'] | default(omit) }}"
    sslcacert: "{{ step['sslcacert'] | default(omit) }}"
    sslclientcert: "{{ step['sslclientcert'] | default(omit) }}"
    sslclientkey: "{{ step['sslclientkey'] | default(omit) }}"
    sslverify: "{{ step['sslverify'] | default(omit) }}"
    throttle: "{{ step['throttle'] | default(omit) }}"
    timeout: "{{ step['timeout'] | default(omit) }}"
    ui_repoid_vars: "{{ step['ui_repoid_vars'] | default(omit) }}"
    unsafe_writes: "{{ step['unsafe_writes'] | default(omit) }}"
    username: "{{ step['username'] | default(omit) }}"
