# SPDX-FileCopyrightText: 2025 Industrial Info Resources, Inc.
# SPDX-FileContributor: William P. Marshall
#
# SPDX-License-Identifier: GPL-3.0-or-later

---
- name: Manage Zypper Repository
  when: step['repo_type'] | lower == 'zypper'
  community.general.zypper_repository:
    auto_import_keys: "{{ step['auto_import_keys'] | default(omit) }}"
    autorefresh: "{{ step['autorefresh'] | default(omit) }}"
    description: "{{ step['description'] | default(omit) }}"
    disable_gpg_check: "{{ step['disable_gpg_check'] | default(omit) }}"
    enabled: "{{ step['enabled'] | default(omit) }}"
    name: "{{ step['name'] }}"
    overwrite_multiple: "{{ step['overwrite_multiple'] | default(omit) }}"
    priority: "{{ step['priority'] | default(omit) }}"
    repo: "{{ step['repo'] | default(omit) }}"
    runrefresh: "{{ step['runrefresh'] | default(omit) }}"
    state: "{{ step['state'] | default(omit) }}"
