---
# List merge method can be either
# precedence - Combine lists with precidence ordered from most precise to least. Higher-level items will be included, but can be overridden by lower level ones.
# lowest_only - The simplest method, it gets items from the most precise matching list and ignores all the others.
deps_mgr_package_merge_method: precedence
deps_mgr_repo_merge_method: lowest_only

# The default state for simple package entries.
deps_mgr_package_default_state: present

deps_mgr_list:
# Example for Installing Postgres 16 with packages required for configuration via community.general.postgres.
# deps_mgr_list:
#   Alpine:
#     packages:
#       - py3-psycopg
#       - "postgresql{{ postgresql_version | default(16) }}"
#   Debian:
#     repositories:
#       - repo_type: deb822
#         name: pgdg
#         uris: https://apt.postgresql.org/pub/repos/apt
#         suites:
#           - "{{ ansible_facts['ansible_lsb']['codename'] | default('invalid') }}-pgdg"
#           - 'main'
#         signed_by: https://www.postgresql.org/media/keys/ACCC4CF8.asc
#     packages:
#       - python3-psycopg2
#       - "postgresql-{{ postgresql_version | default(16) }}"
#   RedHat:
#     AlmaLinux:
#       repositories:
#         - repo_type: dnf-config
#           name: appstream
#     OracleLinux:
#       repositories:
#         - repo_type: dnf-config
#           name: "ol{{ ansible_facts['distribution_major_version'] }}_appstream"
#     RedHat:
#       repositories:
#         - repo_type: dnf-config
#           name: "rhel-{{ ansible_facts['distribution_major_version'] }}-for-{{ ansible_architecture }}-appstream-rpms"
#     Rocky:
#       repositories:
#         - repo_type: dnf-config
#           name: appstream
#     packages:
#       - python-psycopg2
#       - "@postgresql:{{ postgresql_version | default(16) }}/server"
#   Suse:
#     packages:
#       - python3-psycopg2
#       - "postgresql{{ postgresql_version | default(16) }}-server"
