# SPDX-FileCopyrightText: 2025 Industrial Info Resources, Inc.
# SPDX-FileContributor: William P. Marshall
#
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=Daily renewal of ACME.sh managed certificates

[Timer]
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
