# SPDX-FileCopyrightText: 2025 Industrial Info Resources, Inc. <https://www.industrialinfo.com>
# SPDX-FileContributor: William P. Marshall
#
# SPDX-License-Identifier: GPL-3.0-or-later

---
- name: Gather Required Facts if Missing
  when: ansible_facts['distribution'] is not defined
        or ansible_facts['distribution_major_version'] is not defined
        or ansible_facts['os_family'] is not defined
        or ansible_facts['pkg_mgr'] is not defined
  ansible.builtin.setup:
    gather_subset: ['distribution', 'distribution_major_version', 'os_family', 'pkg_mgr']

# Only manages repositories and packages for package managers that ansible.builtin.package supports.
# See PKG_MGRS definition on https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/facts/system/pkg_mgr.py

- name: Manage Dependencies
  vars:
    os_deps: "{{ deps_mgr_list[ansible_facts['os_family']] }}"
    dist_deps: "{{ os_deps[ansible_facts['distribution']] }}"
    maj_ver_deps: "{{ dist_deps[ansible_facts['distribution_major_version']] }}"
  block:
    - name: Manage Repositories
      vars:
        # *Merge through various methods
        # Only get repositories from the lowest-level that lists them.
        lowest_only_merge: "{{ maj_ver_deps['repositories'] |
                              default(dist_deps['repositories']) |
                              default(os_deps['repositories']) |
                              default([]) }}"
        # Combine lists with precidence ordered from most precise to least.
        precedence_merge: "{{ [os_deps['repositories'] | default([]),
                              dist_deps['repositories'] | default([]),
                              maj_ver_deps['repositories'] | default([])]
                              | community.general.lists_mergeby('name') }}"
      loop: "{{ lookup('ansible.builtin.vars', deps_mgr_repo_merge_method ~ '_merge') }}"
      loop_control:
        loop_var: step
      ansible.builtin.include_tasks:
        file: "repository_types/{{ step['repo_type'] | lower }}.yml"
        apply:
          become: true

    - name: Manage Packages
      ansible.builtin.include_tasks:
        file: packages.yml
