# SPDX-FileCopyrightText: 2025 Industrial Info Resources, Inc. <https://www.industrialinfo.com>
# SPDX-FileContributor: William P. Marshall
#
# SPDX-License-Identifier: GPL-3.0-or-later

---
- name: Install Java from Repository
  when: java_packages[java_vendor][java_variant] is defined
  ansible.builtin.include_role:
    name: marshallwp.general.deps_mgr
  vars:
    deps_mgr_list: "{{ java_packages[java_vendor][java_variant] }}"

- name: Non-Repository Download and Install
  when: java_archives[java_vendor][java_variant] is defined
  ansible.builtin.include_tasks:
    file: download-and-install.yml
