{#
SPDX-FileCopyrightText: 2025 Industrial Info Resources, Inc. <https://www.industrialinfo.com>
SPDX-FileContributor: William P. Marshall

SPDX-License-Identifier: GPL-3.0-or-later
#}

[Unit]
Description=Renew ACME.sh managed certificates
After=network-online.target nss-lookup.target

[Service]
Type=oneshot
SyslogIdentifier=acme.sh
ExecStart="{{ (acme_sh_home, 'acme.sh') | ansible.builtin.path_join }} --cron --home \"{{ acme_sh_home }}\" --config-home \"{{ acme_sh_home }}\"
